@font-face {
    font-family: 'Ginerin';
    src: url(fonts/Ginerin-Regular.otf);
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: 'poppins';
    src: url(fonts/Poppins-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'inter';

}

@font-face {
    font-family: 'inter';
    src: url(fonts/Inter-Regular.ttf);
}

:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;



}



#banner {

    background: linear-gradient(313deg, rgba(53, 10, 176, 0.7786764363948704) 33%, rgba(14, 0, 70, 1) 100%), url(img/IMG\ principal.png);
    background-repeat: no-repeat;

}


#banner a {
    display: flex;
    justify-content: space-around;
    width: 300px;


}

.header {
    display: flex;
    justify-content: space-around;
    width: 600px;
    margin-left: 850px;

}

.fundo-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 1424px;
    height: 80px;
    background: #460BF0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;


    /* background-color: white;
    border-radius: 20px;
    width: 600px;
    height: 40px;
    display: flex;
    justify-content: space-around; */

}



header a {
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    font-family: 'poppins';
    position: relative;
}

header a::before {
    content: '';
    position: absolute;
    top: 100%;
    width: 0px;
    height: 2px;
    background: #fff;
    transition: 2s;

}

header a:hover::before {
    width: 100%;

}

.container-grid h2 {
    font-family: Arial, Helvetica, sans-serif;
    height: 200px;
    font-size: 60px;
    font-family: 'ginerin';


}

.caixa-texto {

    display: flex;
    margin-left: 30px;
    margin-top: 203px;
    font-family: 'ginerin';
    color: white;
    height: 448px;
}



.caixa-texto p {
    font-size: 30px;
    width: 600px;
    height: 300px;


}

.container-caixas h3 {
    font-family: 'ginerin';
    color: white;
    font-size: 15px;
    margin-top: 25px;
    padding: 10px;
}

.container-caixas p {
    font-family: "Poppins";
    color: white;
    font-size: 10px;
    margin-top: 35px;
    padding: 10px;
}



.caixa-1 {
    margin: 50px;
    background-color: rgb(31, 31, 31);
    width: 300px;
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;



}

.container-caixas {


    color: rgb(47, 47, 47);
    display: flex;
    justify-content: space-around;
    width: 1300px;
}




.banner2 {
    background: linear-gradient(313deg, rgba(35, 24, 163, 0.9159313383556548) 33%, rgba(68, 35, 248, 0.8599089293920693) 43%, rgba(82, 97, 233, 1) 99%), url(img/);
    height: 30vw;
}

.sobre {
    background: linear-gradient(180deg, rgba(35, 24, 163, 0.9159313383556548) 11%, rgba(68, 35, 248, 0.8599089293920693) 43%, rgba(82, 97, 233, 1) 99%), url(img/image\ 5.png);
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sobre p {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    font-family: 'ginerin';
    padding: 10px;

}

.sobre h2 {
    font-family: 'ginerin';
    font-size: 30px;
    display: flex;
    justify-content: center;
    color: white;

}

.caixa-1 img {

    width: 100%;
}


.footer {
    width: 100%;
    color: var(--color-neutral-30);


}

.footer-link {
    text-decoration: none;


}

#footer-contents {

    background-color: rgb(255, 255, 255);

    display: flex;
    justify-content: space-between;

    padding: 3rem 3.5rem;

}

#footer-contacts h1 {
    margin-bottom: 0.75rem;


}

#footer-social-media {

    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer-social-media .footer-link {
    height: 2.5rem;
    width: 2.5rem;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    transition: all 0.4s;


}

#footer-social-media .footer-link:hover {
    opacity: 0.8;


}

#footer-social-media .footer-link i {
    font-size: 1.25rem;


}

.close-icon {
    display: none;
}


#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);

}

#facebook {
    background-color: #4267b3;


}

#whatsapp {

    background-color: #25d366;

}

.fa-instagram:before {
    margin-left: 10.5px;


}

.fa-facebook:before {

    margin-left: 10.5px;

}

.fa-whatsapp:before {

    margin-left: 10.5px;

}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    font-family: 'inter';


}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
    font-family: 'inter';
}

.footer-list .footer-link:hover {
    color: #7f37c9;


}

#footer-subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;



}

#footer-subscribe p {
    color: var(--color-neutral-30);


}

#imput-group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
    height: 40px;
    cursor: pointer;
}

#imput-group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
    color: white;
    font-family: 'Ginerin';
    margin-top: 25px;
}

#imput-group button {
    background-color: #7f37c9;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
}

@media screen and  (max-width: 412px) {

    .fundo-container {
    height: 501px;
    width: 414px;
    padding: 0px 30px;
    flex-direction: column;
    justify-content: space-around;
     align-items: center; 
    position: absolute;
    top: -1px;
    right: 0px;
    z-index: 1;
   }


}

@media  screen and (max-width: 412px ) {
    #banner a {
    width: 67px;
    display: contents;

    }


}

@media screen and (max-width: 412px)  {

    .container-grid h2 {
        height: 350px;
        font-size: 27px;
        width: 412px;
        margin-top: 291px;
        padding: 10px;

    }
    
}

@media screen and (max-width: 412px) {

.caixa-texto p {

    width: 374px;
    font-family:  'Ginerin';
    font-size: 25px;
}


}


@media screen and (max-width: 412px) {
    .banner2 {
        display: none;


    }

}

@media screen and (max-width: 412px) {
    .footer-contacts {
        width: 386px;
        display: flex;
        justify-content: center;


    }


}


@media screen and (max-width: 412px) {
    #footer-contents {
        padding: 0px;
        height: 484px;
        display: flex;
        justify-content: center;
        flex-direction: column;

    }


}


@media screen and (max-width: 412px) {
    #footer-contents p, h1{
        display: none;


    }


}


@media screen and (max-width: 412px){

    #footer-social-media {
        display: flex;
        justify-content: center;


    }
    
}

#botao-anterior, #botao-proximo {
    width: 30px;

    background: none;
    border: none;

    cursor: pointer;

    position: absolute;
}

#botao-anterior {
    left: 4%;
}

#botao-proximo {
    right: 4%;
}

#botao-anterior svg, #botao-proximo svg {
    fill: #ffffff76;
}


#botao-anterior {
margin-top: 640px;

}

#botao-proximo {

    margin-top: 640px;
}

.menu {
    display: flex;
    margin-top: 45px;
    font-family: 'Ginerin';

}

#botao-anterior, #botao-proximo {
    width: 0px;

    background: none;
    border: none;

    cursor: pointer;

    position: absolute;
}

#botao-anterior {
    left: 4%;
}

#botao-proximo {
    right: 4%;
}

#botao-anterior svg, #botao-proximo svg {
    fill: #ffffff76;
    height: 30px;
    width: 30px ;
}

.botoes {
    width: 150px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    bottom: 4%;

    /* Centralizar usando position */
    /* Adicionar left: 50% */
    /* E margin-left negativa com metade da largura do elemento */
    left: 50%;
    margin-left: -75px;
}



@media screen and (max-width: 412px) {
.botao-menu {
height: 100px;
width: 920px;
display: flex;
    justify-content: inherit;
    margin-left: 79px;
    background: none;
}
}


@media screen and (max-width: 412px) {
.botao-menu svg {
   
    width: 34px;

}
}

@media screen and (max-width: 412px) {
.hamburger {
    z-index: 1;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: black solid 1px;
    background: white;
    cursor: pointer;
    width: 35px;
    width: 50px;
    height: 50px;
    background: none;
    display: flex;
    justify-content: center;
}
  }

  
@media screen and (max-width: 412px) {
  .closeIcon {
    display: none;
  }
  }


  @media screen and (max-width: 412px) {
  .menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: #7f37c9;;
    color: white;
    list-style: none;
    padding-top: 4rem;
    display: flex;
  }


  .texto-embaixo{
     display: none;
   
  }
@media screen and (max-width: 412px) {}
  .showMenu {
    transform: translateY(0);
    display: flex;
  }

  @media screen and (max-width: 412px) {

  .localhamb {
    z-index: 2;
            height: 500px;
            width: 415px;
  }
  }

  @media  screen and  (max-width: 412px) {
    
    .menu-icon {
            width: 100px;

    }
  }

  .menuItem {
    position: fixed;
    top: 0;
    left: 0;
    width: 1424px;
    height: 80px;
    background: #460BF0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

  }
  

  .button-email {
    cursor: pointer;

  }

  .hamburguer {
display: none;

  }

    .menu  {
        display: flex;
        font-family: 'ginerin';
        flex-direction: column;
        text-decoration: underline transparent;
        text-decoration-thickness: 2px;
        transition: text-decoration 500ms ease;
        width: 350px;
        height: 444px;
        align-items: center;
        justify-content: space-around;
        }   
}